
/* body{
    /* background-image: url(../img/fiore.jpg);
    object-fit: cover; */
/* } */ 

/* header */
.header{
    padding-top: 20px;
    height: 80px;
}
.bg-header{
    background-color: rgb(36, 34, 34);
}
button{
    height: 50px;
    word-wrap: break-word;
    white-space: normal;
}

.text-icona{
    color: rgb(136, 208, 19);
    background: -webkit-linear-gradient(rgb(61, 183, 48), rgb(251, 245, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 40px;
    
}
main{
    height: calc( 100vh - 160px);
    overflow-y: auto;
    /* padding-top: 30px; */
}
.grid{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 500px;
    height: 500px;
    background-color: rgb(32, 140, 32);
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgb(36, 34, 34);
   
}






.colorSquare{
    background-color: aquamarine;
}



/* footer */
footer{
    height: 80px;
    background-color: black;
    margin-top: 10px;
}